/* rules for the whole page */

* {
  padding: 0 auto;
  margin: 0 auto;
  box-sizing: border-box;
}

/* header part 1*/

header {
  padding-top: 301px;
  /* (container 1 is 150px in height and 1 px of border, container2 has 150 px of height. TOTAL: 301px)*/
}

.contenitore1 {
  background-color: #f4f9fd;
  width: 100vw;
  height: 150px;;
  border-bottom: 1px solid #32495b;
}

.gray-container {
  width: 80%;
  margin: 0 auto;
}

.gray-container::after {
  content: "";
  display: table;
  clear: both;
}

.menu {
  display: inline-block;
  list-style-type:none;
}

.left-menu {
  margin: 20px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  list-style-type:none;
}

.border-right {
  padding: 0px 30px 0px 0px;
  border-right: 2px solid #899397;
}

.menu li {
  display: inline;
  font-size: small;
  margin-right: 30px;
}

.menu a {
  color: #32495b;
}

.menu a:link {
  text-decoration: none;
}

.menu a:visited {
  text-decoration: none;
}

/* header part 2 */

.right-menu{
  float: right;
  margin: 20px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

#orange1 {
  background-color: #FFFFFF;
  border: 1px solid #fe775a;
  padding: 5px 10px 5px 10px;
  text-align: center;
  color: #fe775a;
  border-radius: 10px;
}

.orange2 {
  background-color: #fe775a;
  border: 1px solid transparent;
  padding: 5px 10px 5px 10px;
  text-align: center;
  color: #FFFFFF;
  border-radius: 10px;
}
/* header part 3 */

.contenitore2 {
  background-color: #FFFFFF;
  width: 100vw;
  height: 150px;
}

.white-container {
  width: 80%;
  margin: 0 auto;
}

#logo-links {
  list-style-type:none;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

#logo-links li {
  display: inline-block;
  padding: 10px;
}

a > .element-right,i {
  display: inline;
}

.right-links li {
  font-size: small;
}

.right-links a {
  color: #32495b;
}

.right-links a:link {
  text-decoration: none;
}

.right-links a:visited {
  text-decoration: none;
}

.floating {
  float: right;
}

.floating::after {
  content: "";
  display: table;
  clear: both;
}

.bothlines {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 900;
}

/* coloured background section of header */

.jumbotron {
  width: 100%;
  height: 700px;
  background-image: url(../img/jumbotron.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 2px solid #33475b;
  z-index: 100;
}

.contenitore3 {
  width: 80%;
  margin: 0 auto;
}

.contenitore3 > h1 {
  padding-top: 50px;
  font-size: 70px;
  color: black;
}

.headtext {
  position: relative;
  top: 30px;
  line-height: 1.6;
  font-size: large;
}

.orangelink {
  position: relative;
  top: 60px;
  right: 40px;
  list-style-type:none;
}

.orange3 {
  width: 250px;
  height: 80px;
  background-color: #fe775a;
  border: 1px solid transparent;
  padding: 0px 0px 0px 0px;
  text-align: center;
  font-size: 100%;
  color: #FFFFFF;
  border-radius: 10px;
}

.orange3 a:link {
  text-decoration: none;
}

.orange3 a:visited {
  text-decoration: none;
}

.undertext {
  position: relative;
  top: 100px;
}

#greenline {
  width: 100vw;
  height: 20vh;
  background-color: #afebe4;
  border-bottom: 2px solid #33475b;
}

/*main */

.outer-container {
  width: 100vw;
  background-color: #f4f9fd;
  z-index: 1;
  box-sizing: border-box;
}

.inside-container {
  width: 80%;
  margin: 0 auto;
  box-sizing: border-box;
}

/* Cube section of main */

.cube-sector {
  width: 100%;
  height: 600px;
  padding: 20px 0px 0px 0px;
  background-color: #f4f9fd;
  z-index: 2;
}

.pic-cube {
  background-image: url(../img/cube.png);
  width: 526px;
  height: 394px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cube-sector > h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 50px;
  color: black;
}

.cube-sector > .textheads {
  text-align: center;
  line-height: 200%;
}

/* Other image under cube */

.free-hubspot {
  width: 100%;
  height: 800px;
  background-color: #FFFFFF;
  z-index: 2;
  border-radius: 30px;
}

.free-hubspot::after {
  content: "";
  display: table;
  clear: both;
}

.image-book {
  background-image: url(../img/book.svg);
  background-color: #FFFFFF;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80%;
  border-radius: 30px;
  z-index: 3;
  width: 30%;
  height: 100%;
  float: left;
}

.orangelink2 {
  list-style-type:none;
  position: relative;
  top: 80%;
  left: 12%;
}

/* text on the side of the image (book) */

.line-with-text {
  width: 100%;
  padding-top: 100px;
}

.line-with-text > h1 {
  line-height: 200%;
  font-size: 50px;
  margin-bottom: 50px;
}

.line-with-text > .text-addition {
  line-height: 1.6;
  font-size: 25px;
}

#feature {
  margin-top: 50px;
  line-height: 200%;
  color: #000000;
  font-size: 30px;
}


.horizontal-rule {
  border-top: 2px solid #899397;
  width: 430px;
  margin: -30px 0px 0px 1000px;
}

/* these are the check-boxes */

.far.fa-check-circle {
  background-color: #fe775a;
  color: #FFFFFF;
  border-radius: 40px;
}

.underline-checkboxes {
  padding-top: 100px;
  font-weight: lighter;
}

.underline-checkbox, span {
  padding-left: 30px;
  padding-right: 30px;
}

/* new section (rows) */

#bigger-container {
  width: 100%;
  background-color: #f4f9fd;
}

.row-section {
  width: 80%;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: #f4f9fd;
  z-index: 1;
}

.rows {
  width: 100%;
  height: 1200px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.rows::after {
  content: "";
  display: table;
  clear: both;
}

.row-left {
  width: 30%;
  height: 100%;
  float: left;
  margin-right: 5%;
  background-color: #FFFFFF;
  border-radius: 20px;
  z-index: 2;
}

/* this makes the inside of the container smaller */

.sub-division-row {
  width: 60%;
}

/* same class given to multiple tags */

.snapshot {
  width: 100%;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
}

/* but individual pictures added (see above)*/

.marketing {
  background-image: url(../img/marketing.svg);
}

.row-middle {
  width: 30%;
  height: 100%;
  float: left;
  margin-right: 5%;
  background-color: #FFFFFF;
  border-radius: 20px;
  z-index: 2;
}

.sales {
  background-image: url(../img/sales.svg);
}

.row-right {
  width: 30%;
  height: 100%;
  float: right;
  background-color: #FFFFFF;
  border-radius: 20px;
  z-index: 2;
}

.service {
  background-image: url(../img/service.svg);
}

/* these are the rules for the text IN the 3 rows */

.sub-division-row .title-in-row {
  padding-top: 50px;
  text-align: center;
  font-size: 40px;
}

.sub-division-row .paragraph-in-row {
  padding-top: 70px;
  padding-bottom: 70px;
  text-align: center;
  line-height: 1.6;
  border-bottom: 2px solid #899397;
}

.sub-division-row h2 {
  padding-top: 70px;
  padding-bottom: 70px;
  text-align: center;
  font-size: 27px;
}

.checkboxes-in-block {
  padding-bottom: 100px;
  line-height: 20%;
}

.orange-link4 {
  list-style-type:none;
}

/*Green section of the page (over midway)*/

.contenidor-externo {
  width: 100%;
  height: 950px;
  background: linear-gradient(to right, #00a5bc, #00bda5);
}

.contenidor-interior {
  width: 80%;
  margin: 0 auto;
  box-sizing: border-box;
  z-index: 1;
}

.texto-central1 {
width: 100%;
height: 150px;
}

.texto-central1 > h1 {
  text-align: center;
  color: #FFFFFF;
  font-size: 40px;
  padding-top: 30px;
}

.texto-central2 {
  width: 100%;
  height: 150px;
}

.texto-central2 > p {
  text-align: center;
  color: #FFFFFF;
  font-size: 25px;
  padding-top: 30px;
}

/* first line of squares */

/* (1) */

.quadrados {
  width: 100%;
  height: 500px;
}

.quadrados::after {
  content: "";
  display: table;
  clear: both;
}

/* this is not the correct font */

.linea-superior {
  font-family: cursive;
}

.sottosezione{
  width: 60%;
  box-sizing: border-box;
}

/* (1) */

.cubo1 {
  width: 25%;
  height: 250px;
  float: left;
  border-right: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
}

.primero {
  color: #FFFFFF;
  text-align: center;
}

.far.fa-handshake {
  font-size: 60px;
}

.seccion1 {
  padding-top: 20px;
  padding-bottom: 25px;
}

.seccion2 {
  font-size: 30px;
  padding-bottom: 20px;
  font-weight: bolder;
}

.seccion3 {
  padding-top: 10px;
  font-weight: 100;
}

/* (2) */

.cubo2 {
  width: 25%;
  height: 250px;
  float: left;
  border-right: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
}

.secundo {
  color: #FFFFFF;
  text-align: center;
}

.sez1 {
  padding-top: 20px;
  padding-bottom: 25px;
}

.sez1 span {
  font-weight: lighter;
  font-family: sans-serif;
  font-size: 15px;
}

.sez2 {
  font-size: 30px;
  padding-bottom: 20px;
  font-weight: bolder;
}

.sez3 {
  padding-top: 13px;
  font-weight: 100;
}
/* negative margin to make the icon move left */

.fab.fa-hubspot {
  margin-left: -10px;
  color: #FFFFFF;
  font-size: 30px;
}

/* (3) */

.cubo3 {
  width: 25%;
  height: 250px;
  float: left;
  border-right: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
}

.tercero {
  color: #FFFFFF;
  text-align: center;
}

.tercero h4 {
  font-size: 13px;
}

.micro1 {
  padding-top: 25px;
  padding-left: 50px;
  padding-bottom: 25px;
  text-align: left;
}

.micro2 {
  font-size: 30px;
  padding-bottom: 20px;
  font-weight: bolder;
}

.micro3 {
  padding-top: 20px;
  font-weight: 100;
}

/* negative vaule for the margin to make the hat go left */

.tercero i {
  margin-left: -26px;
  color: #FFFFFF;
}

/* (4) */

.cubo4 {
  width: 25%;
  height: 250px;
  float: right;
  border-bottom: 1px solid #FFFFFF;
}

.cuarto {
  color: #FFFFFF;
  text-align: center;
}

.pequeno1 {
  background-image: url(../img/homepage_community_inbound.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 140px;
  height: 100px;
}

.pequeno2 {
  font-size: 30px;
  padding-bottom: 20px;
  font-weight: bolder;
}

.pequeno3 {
  padding-top: 20px;
  font-weight: 100;
}

/* second lien of squares */

.linea-inferior {
  font-family: cursive;
}

/* (5) */

.cubo5 {
  width: 25%;
  height: 250px;
  float: left;
  border-right: 1px solid #FFFFFF;
}

.cinco {
  color: #FFFFFF;
  text-align: center;
}

.nanico1 {
  padding-top: 50px;
  padding-left: 10px;
  padding-bottom: 15px;
  font-weight: bolder;
  line-height: 80%;
}

.nanico2 {
  font-size: 30px;
  padding-bottom: 20px;
  font-weight: bolder;
}

.nanico3 {
  font-weight: 100;
}

.nanico1 span {
  color: #FFFFFF;
  font-weight: lighter;
  font-size: 15px;
  font-family: sans-serif;
}

/* (6) */

.cubo6 {
  width: 25%;
  height: 250px;
  float: left;
  border-right: 1px solid #FFFFFF;
}

.seis {
  color: #FFFFFF;
  text-align: center;
}

.exiguo1 {
  padding-top: 30px;
  padding-left: 10px;
  padding-bottom: 15px;
}

.exiguo2 {
  font-size: 30px;
  padding-bottom: 20px;
  font-weight: bolder;
}

.exiguo3 {
  font-weight: 100;
}

.exiguo1:first-child {
  font-size: 50px;
  color: #FFFFFF;
}

/* (7) */

.cubo7 {
  width: 25%;
  height: 250px;
  float: left;
  border-right: 1px solid #FFFFFF;
}

.siete {
  color: #FFFFFF;
  text-align: center;
}

.limitado1 {
  padding-top: 30px;
  padding-left: 10px;
  padding-bottom: 15px;
}

.limitado2 {
  font-size: 30px;
  padding-bottom: 20px;
  font-weight: bolder;
}

.limitado3 {
  font-weight: 100;
}

.limitado1:first-child {
  font-size: 50px;
  color: #FFFFFF;
}

/* (8) */

.cubo8 {
  width: 25%;
  height: 250px;
  float: right;
}

.ocho {
  color: #FFFFFF;
  text-align: center;
}

.atenerse1 {
  padding-top: 50px;
  padding-left: 10px;
  padding-bottom: 15px;
}

.atenerse2 {
  font-size: 30px;
  padding-top: 5px;
  padding-bottom: 20px;
  font-weight: bolder;
}

.atenerse3 {
  padding-top: 10px;
  font-weight: 100;
}

#hola {
  font-size: 35px;
  font-family: Impact;
}

#salud {
  font-size: 15px;
  font-family: sans-serif;
  font-weight: 100;
  padding: 0px 0px 0px 0px;
}

/* end of second line of cubes */

/* start of chinese section */

.outer-chinese {
  width: 100%;
  height: 950px;
  padding-top: 50px;
  padding-bottom: 50px;
  /* debug */
  /* background-color: lightgrey; */
}

.inside-chinese {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  font-family: cursive;
  box-sizing: border-box;
}

.inside-chinese::after {
  content: "";
  display: table;
  clear: both;
}

/* top left box */

.topleft-chinese1 {
  width: 400px;
  height: 300px;
  float: left;
  margin-right: 200px;
}

.topleft-chinese2 {
  width: 100%;
  height:30%;
  color: #33475b;
  text-align: center;
  color: #33475b;
}

.topleft-chinese2 h1 {
  font-size: 60px;
}

.topleft-chinese3 {
  width: 100%;
  height: 70%;
  line-height: 200%;
  text-align: center;
  color: #000000;
  font-family: none;
}

.topleft-chinese3 span {
  margin-left: 5px;
  font-weight: bolder;
  color: #000000;
  padding: 0px 12px 0px 0px;
}


/* top right long boxes */

.topright-chinese1 {
  width: 922px;
  height: 200px;
  float: left;
}

.topright-chinese2 {
  width: 100%;
  height: 50%;
  float: left;
  text-align: center;
}

/* brands top right chinese 2 (FIRST LINE) */

.brand {
  width: 25%;
  height: 100%;
  float: left;
  background-size: 200px;
  background-position: center;
  background-repeat: no-repeat;
}

.atlassian {
  background-image: url(../img/atlassian.png);
}

.doordash {
  background-image: url(../img/doordash.png);
}

.crowd {
  background-image: url(../img/g2crowd-logo@2x.png);
  background-size: 80%;
}

.purple {
  background-image: url(../img/purple-logo@2x.png);
  background-size: 80%;
}

/* second line of brands */

.topright-chinese3 {
  width: 100%;
  height: 50%;
  float: left;
  text-align: center;
}

/* brands second line */

.subaru {
background-image: url(../img/subaru.png);
}

.wistia {
background-image: url(../img/wistia.png);
background-size: 80%;
}

.classpass {
background-image: url(../img/classpass.png);
}

.vmware {
background-image: url(../img/vmware.png);
background-size: 80%;
}

/* bottom left boxes */

.bottomleft-chinese1 {
  width: 600px;
  height: 550px;
  float: left;
  text-align: center;
}

.bottomleft-chinese2 {
  width: 100%;
  height: 30%;
  text-align: left;
}

.bottomleft-chinese2:first-child {
  font-size: 25px;
  color: #33475b;
}

.bottomleft-chinese3 {
  width: 100%;
  height: 30%;
  text-align: left;
  font-family: none;
  font-weight: lighter;
}

.bottomleft-chinese4 {
  width: 100%;
  height: 30%;
  text-align: center;
}

/* orange LINK/BUTTON here */

.orange-link5 {
  list-style-type:none;
  float: left;
  padding-left: 0px;
}

.bottomleft-chinese5 {
  width: 100%;
  height: 10%;
  text-align: left;
  font-size: 15px;
  font-family: none;

}

/* bottom right box */

.bottomright-chinese1 {
  width: 700px;
  height: 650px;
  float: right;
  background-image: url(../img/woman.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60%;
}
