/* rules for the whole page */

* {
  padding: 0 auto;
  margin: 0 auto;
  box-sizing: border-box;
}

/* header part 1*/

header {
  padding-top: 301px;
  /* (container 1 is 150px in height and 1 px of border, container2 has 150 px of height. TOTAL: 301px)*/
}

.contenitore1 {
  background-color: #f4f9fd;
  width: 100vw;
  height: 150px;;
  border-bottom: 1px solid #32495b;
}

.gray-container {
  width: 80%;
  margin: 0 auto;
}

.gray-container::after {
  content: "";
  display: table;
  clear: both;
}

.menu {
  display: inline-block;
  list-style-type:none;
}

.left-menu {
  margin: 20px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  list-style-type:none;
}

.border-right {
  padding: 0px 30px 0px 0px;
  border-right: 2px solid #899397;
}

.menu li {
  display: inline;
  font-size: small;
  margin-right: 30px;
}

.menu a {
  color: #32495b;
}

.menu a:link {
  text-decoration: none;
}

.menu a:visited {
  text-decoration: none;
}

/* header part 2 */

.right-menu{
  float: right;
  margin: 20px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

#orange1 {
  background-color: #FFFFFF;
  border: 1px solid #fe775a;
  padding: 5px 10px 5px 10px;
  text-align: center;
  color: #fe775a;
  border-radius: 10px;
}

.orange2 {
  background-color: #fe775a;
  border: 1px solid transparent;
  padding: 5px 10px 5px 10px;
  text-align: center;
  color: #FFFFFF;
  border-radius: 10px;
}
/* header part 3 */

.contenitore2 {
  background-color: #FFFFFF;
  width: 100vw;
  height: 150px;
}

.white-container {
  width: 80%;
  margin: 0 auto;
}

#logo-links {
  list-style-type:none;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

#logo-links li {
  display: inline-block;
  padding: 10px;
}

a > .element-right,i {
  display: inline;
}

.right-links li {
  font-size: small;
}

.right-links a {
  color: #32495b;
}

.right-links a:link {
  text-decoration: none;
}

.right-links a:visited {
  text-decoration: none;
}

.floating {
  float: right;
}

.floating::after {
  content: "";
  display: table;
  clear: both;
}

.bothlines {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1000;
}

/* coloured background section of header */

.jumbotron {
  width: 100%;
  height: 700px;
  background-image: url(../img/jumbotron.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 2px solid #33475b;
  z-index: 100;
}

.contenitore3 {
  width: 80%;
  margin: 0 auto;
}

.contenitore3 > h1 {
  padding-top: 50px;
  font-size: 70px;
  color: black;
}

.headtext {
  position: relative;
  top: 30px;
  line-height: 1.6;
  font-size: large;
}

.orangelink {
  position: relative;
  top: 60px;
  right: 40px;
  list-style-type:none;
}

.orange3 {
  width: 250px;
  height: 80px;
  background-color: #fe775a;
  border: 1px solid transparent;
  padding: 0px 0px 0px 0px;
  text-align: center;
  font-size: 100%;
  color: #FFFFFF;
  border-radius: 10px;
}

.orange3 a:link {
  text-decoration: none;
}

.orange3 a:visited {
  text-decoration: none;
}

.undertext {
  position: relative;
  top: 100px;
}

#greenline {
  width: 100vw;
  height: 20vh;
  background-color: #afebe4;
  border-bottom: 2px solid #33475b;
}

/*main */

.outer-container {
  width: 100vw;
  background-color: #f4f9fd;
  z-index: 1;
  box-sizing: border-box;
}

.inside-container {
  width: 80%;
  margin: 0 auto;
  box-sizing: border-box;
}

/* Cube section of main */

.cube-sector {
  width: 100%;
  height: 600px;
  padding: 20px 0px 0px 0px;
  background-color: #f4f9fd;
  z-index: 2;
}

.pic-cube {
  background-image: url(../img/cube.png);
  width: 526px;
  height: 394px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cube-sector > h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 50px;
  color: black;
}

.cube-sector > .textheads {
  text-align: center;
  line-height: 200%;
}

/* Other image under cube */

.free-hubspot {
  width: 100%;
  height: 800px;
  background-color: #FFFFFF;
  z-index: 2;
  border-radius: 30px;
}

.free-hubspot::after {
  content: "";
  display: table;
  clear: both;
}

.image-book {
  background-image: url(../img/book.svg);
  background-color: #FFFFFF;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80%;
  border-radius: 30px;
  z-index: 3;
  width: 30%;
  height: 100%;
  float: left;
}

.orangelink2 {
  list-style-type:none;
  position: relative;
  top: 80%;
  left: 12%;
}

/* text on the side of the image (book) */

.line-with-text {
  width: 100%;
  padding-top: 100px;
}

.line-with-text > h1 {
  line-height: 200%;
  font-size: 50px;
  margin-bottom: 50px;
}

.line-with-text > .text-addition {
  line-height: 1.6;
  font-size: 25px;
}

#feature {
  margin-top: 50px;
  line-height: 200%;
  color: #000000;
  font-size: 30px;
}

.horizontal-rule {
  border-top: 2px solid #899397;
  width: 430px;
  margin: -30px 0px 0px 1000px;
}

/* these are the check-boxes */

.far {
  background-color: #fe775a;
  color: #FFFFFF;
  border-radius: 40px;
}

.underline-checkboxes {
  padding-top: 100px;
  font-weight: lighter;
}

.underline-checkbox, span {
  padding-left: 30px;
  padding-right: 30px;
}

/* new section (rows) */

#bigger-container {
  width: 100%;
  background-color: #f4f9fd;
}

.row-section {
  width: 80%;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: #f4f9fd;
  z-index: 1;
}

.rows {
  width: 100%;
  height: 1200px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.rows::after {
  content: "";
  display: table;
  clear: both;
}

.row-left {
  width: 30%;
  height: 100%;
  float: left;
  margin-right: 5%;
  background-color: #FFFFFF;
  border-radius: 20px;
  z-index: 2;
}

/* this makes the inside of the container smaller */

.sub-division-row {
  width: 60%;
}

/* same class given to multiple tags */

.snapshot {
  width: 100%;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
}

/* but individual pictures added (see above)*/

.marketing {
  background-image: url(../img/marketing.svg);
}

.row-middle {
  width: 30%;
  height: 100%;
  float: left;
  margin-right: 5%;
  background-color: #FFFFFF;
  border-radius: 20px;
  z-index: 2;
}

.sales {
  background-image: url(../img/sales.svg);
}

.row-right {
  width: 30%;
  height: 100%;
  float: right;
  background-color: #FFFFFF;
  border-radius: 20px;
  z-index: 2;
}

.service {
  background-image: url(../img/service.svg);
}

/* these are the rules for the text IN the 3 rows */

.sub-division-row .title-in-row {
  padding-top: 50px;
  text-align: center;
  font-size: 40px;
}

.sub-division-row .paragraph-in-row {
  padding-top: 70px;
  padding-bottom: 70px;
  text-align: center;
  line-height: 1.6;
  border-bottom: 2px solid #899397;
}

.sub-division-row h2 {
  padding-top: 70px;
  padding-bottom: 70px;
  text-align: center;
  font-size: 27px;
}

.checkboxes-in-block {
  padding-bottom: 100px;
  line-height: 20%;
}

.orange-link4 {
  list-style-type:none;
}

/*Green section of the page (over midway)*/

.contenidor-externo {
  width: 100%;
  height: 1000px;
  background: linear-gradient(to right, #00a5bc, #00bda5);
}

.contenidor-interior {
  width: 80%;
  margin: 0 auto;
  box-sizing: border-box;
  z-index: 1;
}

.testo-central {
width: 100%;
height: 400px;
/* debug */
background-color: blue;
z-index: 2;
}

.dientro-el-testo {
  width: 100%;
  height: 200px;
  /* debug */
  background-color: red;
  z-index: 2;
}

.quadrados {
  width: 100%;
  height: 500px;
  /* debug */
  background-color: saddlebrown;
}

.quadrados::after {
  content: "";
  display: table;
  clear: both;
}

.cubo1 {
  width: 25%;
  height: 250px;
  float: left;
  /* debug */
  background-color: Silver;
}

.cubo2 {
  width: 25%;
  height: 250px;
  float: left;
  /* debug */
  background-color: lime;
}

.cubo3 {
  width: 25%;
  height: 250px;
  float: left;
  /* debug */
  background-color: Navy;
}

.cubo4 {
  width: 25%;
  height: 250px;
  float: right;
  /* debug */
  background-color: orange;
}

.cubo5 {
  width: 25%;
  height: 250px;
  float: left;
  /* debug */
  background-color: gold;
}

.cubo6 {
  width: 25%;
  height: 250px;
  float: left;
  /* debug */
  background-color: darkgreen;
}

.cubo7 {
  width: 25%;
  height: 250px;
  float: left;
  /* debug */
  background-color: Aqua;
}

.cubo8 {
  width: 25%;
  height: 250px;
  float: right;
  /* debug */
  background-color: Crimson;
}
