/* rules for the whole page */

* {
  padding: 0 auto;
  margin: 0 auto;
  box-sizing: border-box;
}

/* header part 1*/

.contenitore {
  background-color: #f4f9fd;
  width: 100vw;
  height: 20vh;
  top: 0px;
}

.gray-container {
  width: 80%;
  margin: 0 auto;
  content: "";
  display: table;
  clear: both;
}

.gray-container::after{
  content: "";
  display: table;
  clear: both;
}

.menu {
  display: inline-block;
  list-style-type:none;
}

.left-menu {
  display: inline-block;
  margin: 20px 15px 0px 15px;
  list-style-type:none;
}

.border-right {
  padding: 0px 30px 0px 0px;
  border-right: 2px solid #899397;
}

.menu li {
  display: inline;
  font-size: small;
  margin-right: 30px;
}

.menu a {
  color: #32495b;
}

.menu a:link {
  text-decoration: none;
}

.menu a:visited {
  text-decoration: none;
}

/* header part 2 */

.right-menu{
  float: right;

}
