/* rules for the whole page */

* {
  padding: 0 auto;
  margin: 0 auto;
  box-sizing: border-box;
}

/* header part 1*/

.contenitore1 {
  background-color: #f4f9fd;
  width: 100vw;
  height: 20vh;
  border-bottom: 1px solid red;
}

.gray-container {
  width: 80%;
  margin: 0 auto;
}

.gray-container::after{
  content: "";
  display: table;
  clear: both;
}

.menu {
  display: inline-block;
  list-style-type:none;
}

.left-menu {
  margin: 20px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  list-style-type:none;
}

.border-right {
  padding: 0px 30px 0px 0px;
  border-right: 2px solid #899397;
}

.menu li {
  display: inline;
  font-size: small;
  margin-right: 30px;
}

.menu a {
  color: #32495b;
}

.menu a:link {
  text-decoration: none;
}

.menu a:visited {
  text-decoration: none;
}

/* header part 2 */

.right-menu{
  float: right;
  padding: 0px 0px 0px 0px;
}

/* header part 3 */

.contenitore2 {
  background-color: #FFFFFF;
  width: 100vw;
  height: 20vh;
}

.white-container {
  width: 80%;
  margin: 0 auto;
}

#logo-links {
  list-style-type:none;
  padding: 0px 0px 0px 0px;
  margin: 20px 0px 0px 0px;
}

#logo-links li {
  display: inline-block;
  padding: 10px;
}

a > .element-right,i {
  display: inline;
}

.right-links li {
  font-size: small;
}

.right-links a {
  color: #32495b;
}

.right-links a:link {
  text-decoration: none;
}

.right-links a:visited {
  text-decoration: none;
}

.floating {
  float: right;
}
