/* rules for the whole page */

* {
  padding: 0 auto;
  margin: 0 auto;
  box-sizing: border-box;
}

/* header part 1*/

header {
  padding-top: 301px;
  /* (container 1 is 150px in height and 1 px of border, container2 has 150 px of height. TOTAL: 301px)*/
}

.contenitore1 {
  background-color: #f4f9fd;
  width: 100vw;
  height: 150px;;
  border-bottom: 1px solid #32495b;
}

.gray-container {
  width: 80%;
  margin: 0 auto;
}

.gray-container::after {
  content: "";
  display: table;
  clear: both;
}

.menu {
  display: inline-block;
  list-style-type:none;
}

.left-menu {
  margin: 20px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  list-style-type:none;
}

.border-right {
  padding: 0px 30px 0px 0px;
  border-right: 2px solid #899397;
}

.menu li {
  display: inline;
  font-size: small;
  margin-right: 30px;
}

.menu a {
  color: #32495b;
}

.menu a:link {
  text-decoration: none;
}

.menu a:visited {
  text-decoration: none;
}

/* header part 2 */

.right-menu{
  float: right;
  margin: 20px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

#orange1 {
  background-color: #FFFFFF;
  border: 1px solid #fe775a;
  padding: 5px 10px 5px 10px;
  text-align: center;
  color: #fe775a;
  border-radius: 10px;
}

.orange2 {
  background-color: #fe775a;
  border: 1px solid transparent;
  padding: 5px 10px 5px 10px;
  text-align: center;
  color: #FFFFFF;
  border-radius: 10px;
}
/* header part 3 */

.contenitore2 {
  background-color: #FFFFFF;
  width: 100vw;
  height: 150px;
}

.white-container {
  width: 80%;
  margin: 0 auto;
}

#logo-links {
  list-style-type:none;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

#logo-links li {
  display: inline-block;
  padding: 10px;
}

a > .element-right,i {
  display: inline;
}

.right-links li {
  font-size: small;
}

.right-links a {
  color: #32495b;
}

.right-links a:link {
  text-decoration: none;
}

.right-links a:visited {
  text-decoration: none;
}

.floating {
  float: right;
}

.floating::after {
  content: "";
  display: table;
  clear: both;
}

.bothlines {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1000;
}

/* coloured background section of header */

.jumbotron {
  width: 100%;
  height: 700px;
  background-image: url(../img/jumbotron.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 2px solid #33475b;
  z-index: 100;
}

.contenitore3 {
  width: 80%;
  margin: 0 auto;
}

.contenitore3 > h1 {
  padding-top: 50px;
  font-size: 70px;
  color: black;
}

.headtext {
  position: relative;
  top: 30px;
  line-height: 1.6;
  font-size: large;
}

.orangelink {
  position: relative;
  top: 60px;
  right: 40px;
  list-style-type:none;
}

.orange3 {
  width: 250px;
  height: 80px;
  background-color: #fe775a;
  border: 1px solid transparent;
  padding: 0px 0px 0px 0px;
  text-align: center;
  font-size: 100%;
  color: #FFFFFF;
  border-radius: 10px;
}

.orange3 a:link {
  text-decoration: none;
}

.orange3 a:visited {
  text-decoration: none;
}

.undertext {
  position: relative;
  top: 100px;
}

#greenline {
  width: 100vw;
  height: 20vh;
  background-color: #afebe4;
  border-bottom: 2px solid #33475b;
}

/*main */

.outer-container {
  width: 100vw;
  background-color: #f4f9fd;
  z-index: 1;
  box-sizing: border-box;
}

.inside-container {
  width: 80%;
  margin: 0 auto;
  box-sizing: border-box;
}

/* Cube section of main */

.cube-sector {
  width: 100%;
  height: 600px;
  padding: 20px 0px 0px 0px;
  background-color: #f4f9fd;
  z-index: 2;
}

.pic-cube {
  background-image: url(../img/cube.png);
  width: 526px;
  height: 394px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cube-sector > h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 50px;
  color: black;
}

.cube-sector > .textheads {
  text-align: center;
  line-height: 200%;
}

/* Other image under cube */

.free-hubspot {
  width: 100%;
  height: 800px;
  background-color: #FFFFFF;
  z-index: 2;
  border-radius: 30px;
  background-color: lightblue;
}

.free-hubspot::after {
  content: "";
  display: table;
  clear: both;
}

.image-book {
  background-image: url(../img/book.svg);
  background-color: #FFFFFF;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80%;
  border-radius: 30px;
  z-index: 3;
  width: 30%;
  height: 100%;
  float: left;
}

.orangelink2 {
  list-style-type:none;
  position: relative;
  top: 80%;
  left: 20%
}

/* text on the side of the image (book) */

.line-with-text {
  width: 100%;
  padding-top: 100px;
}


.rows {
  width: 100%;
  height: 1000px;
  margin-top: 50px;
  /* debug */
  background-color: blue;
  padding-bottom: 50px;
}

.row-section {
  width: 80%;
  margin: 0 auto;
  box-sizing: border-box;
}

/* .rows::after {
  content: "";
  display: table;
  clear: both;
} */

.row-left {
  width: 30%;
  height: 100%;
  float: left;
  margin-right: 5%;
  /* debug */
  background-color: black;
  z-index: 2;
}
/* debug */
.row-left > h1 {
  /* debug */
  color: white;
}

.row-middle {
  width: 30%;
  height: 100%;
  float: left;
  margin-right: 5%;
  /* debug */
  background-color: white;
  z-index: 2;
}

.row-right {
  width: 30%;
  height: 100%;
  float: right;
  /* debug */
  background-color: lime;
  z-index: 2;
}
